
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Admin</h2>

<div>
    <br /><br /><br />
    <div style="float:left;width:500px;height:800px;">
        @*@Html.ActionLink("Lista książek", "Index", "Books")*@
        <section>
            <div>
                <h1>Witaj administratorze!</h1>
            </div>
            Biblioteka internetowa - umożliwia szybkie i łatwe wypożyczenie Twojej ulubionej książki bez wychodzenia z domu. Wystarczy kilka kliknięć i gotowe.
            Możesz wyszukiwać książki według ich gatunku, autora który je napisał bądź wydawnictwa przez które zostało opublikowane.
        </section>
    </div>
    <br /><br />
    <div style="float:right">
        <img src="~/Content/book.png" style="height:312px; width:500px;" />
    </div>
</div>