@model IEnumerable<MVCBiblioteka.Models.Category>

<ul id="categories">
    @foreach (var genre in Model)
    {
        <li>
            @Html.ActionLink(genre.name, "Browse", "Store", new { Genre = genre.name }, null)
        </li>
    }
</ul>

