@model IEnumerable<MVCBiblioteka.Models.Category>
@{
    ViewBag.Title = "Strona główna";
}


<div>
    <br/><br/><br />
    <div style="float:left;width:500px;height:800px;">
        @*@Html.ActionLink("Lista książek", "Index", "Books")*@
        <section>
            <div>
                <h1>Witaj na naszym portalu!</h1>
            </div>
            Biblioteka internetowa - umożliwia szybkie i łatwe wypożyczenie Twojej ulubionej książki bez wychodzenia z domu. Wystarczy kilka kliknięć i gotowe.
            Możesz wyszukiwać książki według ich gatunku, autora który je napisał bądź wydawnictwa przez które zostało opublikowane.
        </section>
        <section>
            <h3>Jak wyglądała pierwsza książka?</h3>
            Część z nas odpowie, że była pisana
            odręcznie, ale niektórzy powiedzą, że była
            drukowana. Jeszcze inni powiedzą, że była
            wykonana z pergaminu a inni, że wyryta w
            kamieniu.
            W rzeczywistości pierwsza książka nie
            przypominała nam znanych książek. Miała ręce i
            nogi, umiała mówid a nawet śpiewad, bo to była
            żywa książka – człowiek książka.
            Istniała ona w dawnych czasach, gdy ludzie nie
            umieli czytad ani pisad. Gdy nie istniały litery ani
            papier i nikt nie znał atramentu, a wszystkie
            prawa , wierzenia oraz podania przechowywano
            w pamięci ludzkiej.
        </section>
    </div>
    <br/><br/>
    <div style="float:right">
        <img src="~/Content/book.png" style="height:312px; width:500px;" />
    </div>
</div>